<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ask">
	<select id="getinfo" parameterType="int" resultType="ask">
		select asknum,a.memnum,qnatitle,askcontent,response,to_char(a.askregdate,'YYYY-MM-DD') askregdate,m.memid,m.email from ask a,membership m
		where a.memnum=m.memnum and a.askNum=#{askNum}
	</select>
	<select id="list" resultType="ask" parameterType="hashmap">
		select * from (
			    select memid,asknum,memnum,qnatitle,askcontent,response,to_char(ask.askregdate,'YYYY-MM-DD') askregdate ,rownum rnum from( 
			        select a.*,m.memid,m.email from ask a,membership m
		            where a.memnum=m.memnum order by askNum desc
			    )ask
		    )
		<![CDATA[	where rnum>=#{startRow} and rnum <=#{endRow} ]]>
	</select>
	<update id="respUpdate" parameterType="int">
		update ask set response='답변완료' where askNum=#{askNum}
	</update>
	<select id="count" resultType="int">
		select nvl(count(*),0) from ask
	</select>
</mapper>