<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.book">
	<select id="getinfo" parameterType="int" resultType="book">
		select * from book where bookNum=#{bookNum} 
	</select>
	<insert id="insert" parameterType="book">
		insert into book (bookNum,bookStatus,seatNum,chargeNum,mScheduleNum)
		values(bookNum.nextval,#{bookStatus},#{seatNum},chargeNum.currval,1)
	</insert>
</mapper>