<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.charge">
	<select id="getinfo" parameterType="int" resultType="charge">
		select * from charge where chargeNum=#{chargeNum} 
	</select>
	<select id="genderMonthList" resultType="charge" parameterType="hashmap">
		<![CDATA[
			select * 
			from(
			SELECT 
			    SUM(AA.TOTALBILL) TOTALBILL
			    , AA.BIRTH
			    ,AA.CHAREGDATE chRegdate
			    FROM
			    (
			        SELECT 
			            C.TOTALBILL TOTALBILL
			            , CASE WHEN SUBSTR(m.birth,8,1) = '1' OR SUBSTR(m.birth,8,1) = '3' THEN 1 ELSE 2 END  birth
			            ,to_char(c.chregdate,'yyyy-mm') charegdate
			        from CHARGE C, MEMBERSHIP M
			        WHERE c.memnum=m.memnum
			    ) AA
			WHERE 
			    AA.charegdate BETWEEN #{date} AND #{date1}
			GROUP BY AA.BIRTH,AA.CHAREGDATE
			)PIVOT(sum(totalbill) for birth in(1 AS MAN,2 AS WOMAN))
			order by chRegdate
		]]>
	</select>
	<select id="genderYearList" resultType="charge" parameterType="hashmap">
		<![CDATA[
			select * 
			from(
			SELECT 
			    SUM(AA.TOTALBILL) TOTALBILL
			    , AA.BIRTH
			    ,AA.CHAREGDATE chRegdate
			    FROM
			    (
			        SELECT 
			            C.TOTALBILL TOTALBILL
			            , CASE WHEN SUBSTR(m.birth,8,1) = '1' OR SUBSTR(m.birth,8,1) = '3' THEN 1 ELSE 2 END  birth
			            ,to_char(c.chregdate,'yyyy') charegdate
			        from CHARGE C, MEMBERSHIP M
			        WHERE c.memnum=m.memnum
			    ) AA
			WHERE 
			    AA.charegdate BETWEEN #{date} AND #{date1}
			GROUP BY AA.BIRTH,AA.CHAREGDATE
			)PIVOT(sum(totalbill) for birth in(1 AS MAN,2 AS WOMAN))
			order by chRegdate
		]]>
	</select>
	
	
	
	<select id="ageYearList" resultType="charge" parameterType="hashmap">
		<![CDATA[
			select *
			from (
			    SELECT * FROM (
			        select c.totalbill totalbill
			        ,substr(to_char(sysdate,'yyyy') + 1 - (substr(m.birth,0,2)+
			            (case
			            when substr(m.birth,8,1) < 3 then 1900
			            when substr(m.birth,8,1) >= 3 then 2000
			            end)),0,1) as age
			        ,to_char(c.chregdate,'yyyy') chRegdate
			        from MEMBERSHIP m,charge c
			        where m.memnum=c.memnum
			    ) AA
			    WHERE
			     AA.chRegdate BETWEEN #{date} AND #{date1}
			) CC
			PIVOT(
			    SUM(totalbill) FOR AGE IN (1 AS TEENS ,2 AS TWENTIES,3 AS THIRTIES,4 AS FORTIES,5 AS FIFTIES,6 AS SIXTIES)
			)
			ORDER BY chRegdate
		]]>
	</select>
	<select id="ageMonthList" resultType="charge" parameterType="hashmap">
		<![CDATA[
			select *
			from (
			    SELECT * FROM (
			        select c.totalbill totalbill
			        ,substr(to_char(sysdate,'yyyy') + 1 - (substr(m.birth,0,2)+
			            (case
			            when substr(m.birth,8,1) < 3 then 1900
			            when substr(m.birth,8,1) >= 3 then 2000
			            end)),0,1) as age
			        ,to_char(c.chregdate,'yyyy-mm') chRegdate
			        from MEMBERSHIP m,charge c
			        where m.memnum=c.memnum
			    ) AA
			    WHERE
			     AA.chRegdate BETWEEN #{date} AND #{date1}
			) CC
			PIVOT(
			    SUM(totalbill) FOR AGE IN (1 AS TEENS ,2 AS TWENTIES,3 AS THIRTIES,4 AS FORTIES,5 AS FIFTIES,6 AS SIXTIES)
			)
			ORDER BY chRegdate
		]]>
	</select>
	
	<insert id="insert" parameterType="hashmap">
		insert into charge (chargeNum,memNum,chRegdate,totalBill,cDetailNum,payment)
		values(chargeNum.nextval,#{memNum},sysdate,#{seatMoney},1,'카드')
	</insert>
	
	
</mapper>











