<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.film">
	<select id="getinfo" parameterType="int" resultType="film">
		select * from film where filmNum=#{filmNum} 
	</select>
	<insert id="moviebuy" parameterType="film">
		insert into film(filmNum,filmName,filmStory,filmStart,filmEnd,filmPrice,filmHead,genreNum)
		values(filmNum.nextval,#{filmName},#{filmStory},#{filmStart},#{filmEnd},#{filmPrice},#{filmHead},#{genreNum})
	</insert>
	<select id="deadline" resultType="string">
		select to_char(max(filmEnd),'yyyy-mm-dd') deadline from film
	</select>
</mapper>