<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.film">
	<select id="getinfo" parameterType="int" resultType="film">
		select * from film where filmNum=#{filmNum} 
	</select>
	<insert id="moviebuy" parameterType="film">
		insert into film(filmNum,filmName,filmStory,filmStart,filmEnd,filmPrice,filmHead,genreNum)
		values(filmNum.nextval,#{filmName},#{filmStory},#{filmStart},#{filmEnd},#{filmPrice},#{filmHead},#{genreNum})
	</insert>
	<resultMap type="hashMap" id="getResultMap">
		<id property="totalPeople" column="totalPeople"/>
		<id property="totalPrice" column="totalPrice"/>
		<id property="totalDate" column="totalDate"/>
		<id property="filmPrice" column="filmPrice"/>
	</resultMap>
	
	<select id="getChat" parameterType="string" resultMap="getResultMap">
		select t.totalPeople,t.totalPrice,to_char(t.totalDate,'YYYY-MM-DD') totalDate,f.filmPrice from total t,film f where f.filmName=#{filmName} 
		and t.filmNum = f.filmNum order by t.totalDate
	</select>
	
	<select id="getName" resultType="string" parameterType="string">
		select filmName from film
	</select>
	
	<select id="getThumbnailMovie" resultType="hashMap">
		<![CDATA[select * from 
		    (
		    select aa.*,rownum rnum from
		        (
		        select f.filmName,f.filmStory,mi.movieUrl,mi.movieImgUrl,SUM(m.mScore) vg
		        from mReview m,film f,movieImg mi 
		        where f.filmNum=m.filmNum and f.filmNum=mi.filmNum
		        group by f.filmName,f.filmStory,mi.movieUrl,mi.movieImgUrl
		        order by vg desc
		        ) aa
		    )
		where rnum<=4]]>
	</select>
	
	<resultMap type="hashmap" id="movieList">
		<result property="filmName" column="filmName"/>
		<result property="filmHead" column="filmHead"/>
		<collection property="reviewList" ofType="hashmap" resultMap="reviewList">
			<result property="rContent" column="rContent"/>
			<result property="likeTotal" column="likeTotal"/>
			<result property="mScore" column="mScore"/>
			<result property="memName" column="memName"/>
			<result property="memId" column="memId"/>
			<result property="totalpeople" column="totalpeople"/>
		</collection>
	</resultMap>
	
	<select id="getTodayMoive" resultMap="movieList">
	<![CDATA[
		select * from
		    (
		    select aa.*,rownum rnum from
		        (
		            select f.filmName,f.filmHead,t.totalpeople,mr.likeTotal,mr.mScore,m.memName,m.memId,mr.rContent
		            from total t,film f,mReview mr,membership m
		            where totalpeople = (select MAX(totalpeople) from total 
		            where to_char(totaldate,'yy/mm/dd') = to_char(sysdate-1,'yy/mm/dd'))
		            and t.totalpeople = (select MAX(totalpeople) 
		            from total where to_char(totaldate,'yy/mm/dd') = to_char(sysdate-1,'yy/mm/dd'))
		            and f.filmNum = t.filmNum and f.filmNum=mr.filmNum and m.memNum = mr.memNum
		            order by mr.likeTotal desc
		        ) aa
		    )
		where rnum<=5;
	]]>
	</select>
	
</mapper>