<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.membership">
	<select id="getinfo" parameterType="int" resultType="membership">
		select * from membership where memNum=#{memNum} 
	</select>
	
	<select id="getEmail" parameterType="string" resultType="string">
		select email
		from membership where memId=#{memId}
	</select>
<!-- 	성진 클라이언트 -->
	<select id="getinfoSJ" parameterType="int" resultType="membership">
		select mem.*,mile.mile,mile.milenum from membership mem left join mile on mem.memnum = mile.memnum where mem.memnum=#{memNum} 
	</select>
</mapper>