<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.mile">
	<select id="getinfo" parameterType="string" resultType="int">
		select sum(mile.mile)
		from membership mem,mile mile 
		where mem.memnum=mile.memnum and mem.memId=#{memId}
        group by mem.memId
	</select>
	<insert id="mileInsert" parameterType="int">
		insert into mile(milenum,MILEDATE,MILE,MEMNUM)
		values(milenum.nextval,sysdate,#{mile}, memnum.currval)
	</insert>
</mapper>