<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.mile">
	<select id="getinfo" parameterType="int" resultType="mile">
		select mile.milenum, mile.miledate, mile.mile, mile.memnum 
		from membership mem,mile mile 
		where mem.memnum=mile.memnum and mem.memnum=#{memNum}
	</select>
</mapper>