<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.movieImg">
	<select id="getinfo" parameterType="int" resultType="movieimg">
		select * from movieimg where movieImgnum=#{movieImgnum}
	</select>
	<insert id="moviebuy" parameterType="movieimg">
		insert into movieimg(movieImgnum,fileName,filmNum)
		values(movieImgnum.nextval,#{fileName},filmNum.currval)
	</insert>
</mapper>