<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.proposal">
	<select id="getinfo" parameterType="int" resultType="qna">
		select * from proposal where proNum=#{proNum}
	</select>
	<insert id="insert" parameterType="proposal">
		insert into proposal values(proNum.nextval,#{memberId},#{proAddr},#{proGoal},#{proScale},#{proStatus},sysdate,#{cityAddr})
	</insert>
</mapper>