<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.reply">
	<select id="getinfo" parameterType="int" resultType="reply">
		select replyNum,staffId,qnaTitle,replyContent,to_char(replyRegdate,'YYYY-MM-DD' )replyRegdate,askNum
		from reply where askNum=#{askNum}
	</select>
	<insert id="insert" parameterType="reply">
		insert into reply(replyNum,staffId,qnaTitle,replyContent,replyRegdate,askNum)
		values(replyNum.nextval,#{staffId},#{qnaTitle},#{replyContent},sysdate,#{askNum})
	</insert>
	<update id="update" parameterType="reply">
		update reply set qnaTitle=#{qnaTitle}, replyContent=#{replyContent},replyRegdate=sysdate
		where replyNum=#{replyNum}
	</update>
</mapper>