<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ticketing">
	<select id="ticketingtList" resultType="ticketing" parameterType="int">
		select * from
		(select DISTINCT c.chargenum chargenum,ms.mstarttime mstarttime, br.brname brname, t.theathername theathername, c.chregdate chregdate, c.totalbill totalbill, f.filmname filmname, c.payment payment, mo.movieimgurl movieimgurl,
		(SELECT LISTAGG(seatname, ',') WITHIN GROUP (ORDER BY boo.booknum) AS seatname FROM book boo,seat s where b.chargenum=boo.chargenum and boo.seatNum=s.seatnum) seatName,
		(select nvl(count(*),0) from book boo where boo.chargenum=c.chargenum) userCount
		from  membership m, charge c, book b, mschedule ms, theather t , branch br , purchasefilm p, film f, movieimg mo
		where m.memnum=c.memnum and c.chargenum=b.chargenum and b.mschedulenum=ms.mschedulenum and t.theathernum=ms.theathernum and
		t.branchnum=br.branchnum and p.purchasefilmnum=ms.purchasefilmnum and p.filmnum=f.filmnum and f.filmnum=mo.filmnum and m.memnum=#{memnum})
		order by chregdate desc
	</select>
</mapper>